body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow: hidden; /* Prevent horizontal scrolling */
}

#game-container {
  position: relative;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); 
  width: 1000000000000000px; /* Set width to viewport width */
  border-radius: 50px;
  height: 420px;
  border: 1px solid #888;
  background-color: #474646;
  overflow: hidden;
  margin-top: 10%;
}
  
#overall {
  width: 100%;
  overflow: hidden;
}

.lane {
  position: absolute;
  width: 100%;
  height: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#lane1 {
  background-color: rgb(185, 89, 89);
  top: 0;
  justify-content: center;
}

#lane2 {
  background-color: rgb(72, 72, 161);
  top: calc(100% / 3);
  justify-content: flex-end;
}

#lane3 {
  background-color: rgb(70, 128, 70);
  top: calc(2 * 100% / 3);
  justify-content: flex-start;
}

#electron {
  position: fixed; /* Position relative to the viewport */
  top: 50%; /* Vertically center the electron */
  left: 50px; /* Distance from the left edge of the viewport */
  /* Center horizontally */
  width: 50px;
  height: 50px;
  background-color: palevioletred;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}




.hole {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(241, 241, 53);
  z-index: 2;
  border-radius: 100%;
}
