* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color:#F8D26C;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
    color: #293B52;
}

.memory_game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memorycard {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memorycard:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memorycard.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100px;
    height: 100px;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #293B52;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #293B52;
    color: #F8D26C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a04553;
}
